* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-image: url(https://scontent-gru2-1.xx.fbcdn.net/v/t1.0-0/c0.0.206.206a/p206x206/58461038_2627902103892585_1315274476736217088_o.jpg?_nc_cat=107&_nc_sid=da31f3&_nc_eui2=AeHzkAS1ur8wFVIYumSvy-QJ-UgkA9RKJMP5SCQD1Eokw8tIBLxok4ot_rSD7KvL_jqEhCjPyxaf62hgL7fGSX0a&_nc_ohc=Q8cz0iSxwr4AX8EBOiA&_nc_ht=scontent-gru2-1.xx&oh=7021f76c3af21585487eed752ba8279d&oe=5F3C65F2);
    background-attachment: fixed;
    background-repeat: repeat;
    margin-right: 0rem;
    margin-left: 0rem;
    font-family:sans-serif;
}
.nav-enlace{
    display: inline-block;
    background: rgb(72, 64, 64);
    color: white;
    padding: 10px 30px;
    border-radius: 6px;
    border: 10px outset rgb(226, 13, 13);
    text-decoration: none;
   
}
.nav-enlace:hover{
    background:rgb(72, 64, 64);
    text-decoration: none;
    border: 10px outset rgb(72, 70, 70);
    color: white;

}
nav{
    background: black;
    padding: 10px 10px;
    justify-content:start;
    text-decoration: none;
    border: 10px outset rgb(242, 211, 211);
    box-shadow: 0px 0px 10px rgba(233, 12, 12, 0.5);
    
}

.fase1{
    text-align: justify;
    background-image: linear-gradient(rgba(246, 198, 238, 0.822), rgba(255, 250, 254, 0.89));
    padding-bottom: 10px;
    padding-top: 20px;
}

.img{
    background-image: url(https://scontent-gru1-1.xx.fbcdn.net/v/t1.0-9/82551687_2692933480786638_1120396503253254144_o.jpg?_nc_cat=104&_nc_sid=cdbe9c&_nc_eui2=AeHuC-Ddp-atXGOKnVfnpihNIeKs2VnLjv4h4qzZWcuO_iJyCL7JhcQDj6lqFkasSKzDfqB63x8lr4LyszU-37m0&_nc_ohc=zcS61bMnpnYAX9z5J4B&_nc_ht=scontent-gru1-1.xx&oh=c169fd2f6f8ff67af1cceb96184f8297&oe=5F3D845B);
    image-orientation: flip;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
    color: white;
}
.fase2{
padding-bottom: 10px;
padding-top: 20px;
margin-top: 1px;
background-image: linear-gradient(rgba(10, 17, 10, 0.60), rgba(243, 146, 146, 0.6));
 color: white;
text-align: justify;

}
.bg_footer{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: justify;
}
.bg_footer a{
    background:rgb(72, 64, 64);
    text-decoration: none;
    color: white;
}
.bg_footer a :hover{
    background-color: #606060;
    transition: 1s;
}
.fundo{
    text-align: left;
    padding: 10px 10px 10px 40px;
}
.fundo  a{
    text-decoration: none;
    color: white
}
.fundo li :hover{
    background-color: #606060;
    transition: 1s;
}
.botao {
    background-color: rgba(21, 16, 16, 0.474);
    color: rgba(247, 241, 241, 0.96);
    padding: 5px 5px;
    margin: 15px;
    font-size: 15px;
     border-radius: 8px;
    border: 2px outset rgb(36, 35, 35);
    text-decoration: none;
    
}
.botao:hover{
background: rgba(17, 16, 16, 0.967);
border: 10px outset rgb(72, 70, 70);

}

.botao:active{
    background: red;
}

.banner{
    text-align: center;
    color: black;
    padding: 15px 15px 15px 15px;
    background-image: linear-gradient(rgba(10, 17, 10, 0.60), rgba(39, 1, 1, 0.912));
    text-decoration: black;
    margin: 0 auto;
    display: inline-block;
    
}
.slyde{
    margin: 0 auto;
    padding: 10px 10px;
    text-align: center;
    box-sizing:border-box;
    
    
}
.imagens{
    width: 300px;
    height: 200px;
}
.h{
    color:white;
    text-align: center;
    padding:10px 10px;
    margin: 0 auto;
    font-family: "Chiller";
    align-items: center;
}

@media screen and (max-width: 1024px) {
    /*estilos*/
 }
 @media screen and (min-width: 400px) {
    /*estilos*/
 }


